
h1 {
  margin   : 0.25em ;
  font-size: 2em    ;
  color    : #284B67;
}


#navigation {
  display            : flex      ;
  flex-direction     : row       ;
  justify-content    : flex-start;
  align-items        : flex-start;
  overflow-x         : auto      ;
  border-bottom-style: solid    ;
  border-bottom-width: thin     ;
  border-bottom-color: steelblue;
}

#navigation span, #navigation a {
  margin-left    : 1em      ;
  margin-right   : 1em      ;
  margin-top     : 0.5em    ;
  margin-bottom  : 0.5em    ;
  text-decoration: none     ;
  font-weight    : bold     ;
  color          : steelblue;
}

#navigation .navselect {
  color: black;
}

#main {
  margin: 0.5em;
}


body {
  margin   : 0   ;
  font-size: 100%;
}

@media(max-width:500px) {
  html {
    font-size: 3.2vw;
  }
}

html {
  font-family: "Noto Sans", sans-serif;
}
