
#overlay {
  display         : none           ;
  position        : fixed          ;
  z-index         : 200            ;
  width           : 100%           ;
  height          : 100%           ;
  left            : 0              ;
  top             : 0              ;
  align-items     : center         ;
  background-color: rgba(0,0,0,0.7);
}

#overlay table {
  margin-left     : auto  ;
  margin-right    : auto  ;
  width           : 80%   ;
  padding         : 2em   ;
  text-align      : center;
  background-color: white ;
}

#overlay img {
  max-width : 100%;
  max-height: 80vh;
}


#header {
  width : 100% ;
  height: 6.5em;
}

h1 {
  margin   : 0.25em ;
  font-size: 2em    ;
  color    : #284B67;
}


#navigation {
  display            : flex      ;
  flex-direction     : row       ;
  justify-content    : flex-start;
  align-items        : flex-start;
  overflow-x         : auto      ;
  border-bottom-style: solid     ;
  border-bottom-width: thin      ;
  border-bottom-color: steelblue ;
}

#navigation span, #navigation a {
  margin-left    : 1em      ;
  margin-right   : 1em      ;
  margin-top     : 0.5em    ;
  margin-bottom  : 0.5em    ;
  text-decoration: none     ;
  font-weight    : bold     ;
  color          : steelblue;
}

#navigation .navselect {
  color: black;
}


#main {
  height    : calc(100% - 6.5em);
  margin    : 0.5em             ;
  overflow-y: auto              ;
}


.contacts a:hover {
  text-decoration-line: underline;
}

.contacts a {
  text-decoration: none ;
  color          : black;
}

#photo {
  max-width: 10em ;
  float    : right;
}


table {
  width       : 100% ;
  table-layout: fixed;
}

.image {
  padding       : 1em 1em 0 1em;
  vertical-align: bottom       ;
}

.image img {
  max-width: 100%;
}

.caption {
  padding       : 0 1em 1em 1em;
  text-align    : center       ;
  vertical-align: top          ;
}


.playlist {
  vertical-align: top;
}

.playlist a:hover {
  text-decoration-line: underline;
}

.playlist a {
  text-decoration: none ;
  color          : black;
}


div.poems {
  display    : flex  ;
  flex-wrap  : wrap  ;
  align-items: center;
}

.poems div {
  margin          : 1em           ;
  padding         : 1em           ;
  border-radius   : 1em           ;
  background-color: lightsteelblue;
}

.poems p {
  display: block;
  margin : 0    ;
}


.models {
  display  : flex;
  flex-wrap: wrap;
}

.models iframe {
  width : 20em;
  height: 20em;
}

.models div {
  padding   : 1em   ;
  text-align: center;
}

.models a:hover {
  text-decoration-line: underline;
}

.models a {
  text-decoration: none ;
  color          : black;
}


body {
  height        : 100vh ;
  margin        : 0     ;
  display       : flex  ;
  flex-direction: column;
  font-size     : 100%  ;
}

@media(max-width:500px) {
  html {
    font-size: 3.2vw;
  }
}

html {
  font-family: "Noto Sans", sans-serif;
}
